<label for="">server name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<p *ngIf="serverNameTest; else noServerCreated">{{serverName}}</p>
<ng-template #noServerCreated>
<p>shiiit!</p>
</ng-template>
<button [disabled]="!allowNewServer" class="btn btn-primary" (click)="onCreatedServer()">
    Add  server
</button>
<!-- <p>{{serverCreationStatus}}</p> -->
<app-server *ngFor="let server of serverList" ></app-server>